body {
	margin: 0;
	background: #161616;
	color: #ffffff;
}
.Container {
	display: flex;
	flex-direction: column;
	width: 70vh;
	margin: 10vh auto;
	font-family: "Maven Pro";
}
.SwitchContainer {
	border: 2px solid #393939;
	border-radius: 5px;
	padding: 1rem;
}
